body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-family: 'Homemade Apple', cursive;
  font-family: 'Pangolin', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  
  background-color: rgb(3, 11, 3);
  
  background-image: url("./images/fruitsBlur.jpg");
  background-repeat: repeat-y;
  background-size:cover;
  
  color: white
}

 .btn-primary {
  border: solid white;
  color: white;
  border-radius: 10px;
  margin-top: 10px;
  text-decoration: none;
  background-color: rgba(255, 255, 255, 0.413);
}

h1{
  font-family: 'Homemade Apple';
}

p {
  color: white;
}


  .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
    
    color: inherit;
    font-family: "Pangolin"!important;
    font-weight: 800 !important;
}

.link {
  text-decoration: none;
}

.btn-back {
    position: absolute!important;
    bottom: 80px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.523);
}

