.bye{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.303);
    max-width: 300px;
    padding: 40px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    animation: fadein 6s;
}

.stars{
    background-color: white;
    padding: 0 10px;
    border-radius: 5px;
    
}

@keyframes fadein {
        from {opacity: 0}
        to {opacity: 1}
    }