.list {
    background-color: rgba(255, 255, 255, 0.201);
    border-radius: 20px;
    font-size: 2em;
}

.list h2 {
    color: rgb(255, 77, 0);
    font-size: 1.5em;
    font-weight: 600;
}

.btn-back {
    position: absolute!important;
    bottom: 80px;
    left: 100px;
    background-color: rgba(255, 255, 255, 0.386)!important;
}