#login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-top: 50px;
  border-color: white;
}

#login-form > form {
    
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 10px;
    background-color: rgba(249, 253, 250, 0.845);
    max-width: 50%;
}

.mb-3 > div {
  width: 100%;
}

h1{
  text-align: center;
  margin-top: 100px;
  font-size: 4em;
}


.form {
  background-color: white;

}

.button-block {
  display: block;
  color:white;
  margin: 0px;
  margin-top: 5px
  

}

.login-btn {
    border:2px solid #4a4f54!important;
    color: #43464b!important;
    border-radius: 10px;
    margin-top: 10px;
}
